<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>

</head>

<body>
    <div id="app">
        <h2>Yeni Bir şey :</h2>
        <form>
            <input type="text" v-model="yeni">
            <input type="submit" value="ekle" v-on:click="listeyeEkle" v-bind:disabled="yeni.length == 0 ? true :false">
        </form>

        <h3>Alış-veriş Listesi - {{liste.length}}</h3>
        <ul>
            <li v-for="i in liste">{{i}}</li>
        </ul>

    </div>

    <script>
        var app = new Vue({

            el: '#app',
            data: {
                yeni: "",
                liste: [],
            },
            methods: {
                listeyeEkle(e) {
                    e.preventDefault();
                    this.liste.push(this.yeni);
                    this.yeni = "";
                },
            }
        })



    </script>
</body>

</html>