<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>

</head>

<body>
    <div id="app">
        <h2>Yeni Bir şey :</h2>
        <form>
            <input type="text" v-model="yeni">
            <input type="submit" value="ekle" v-on:click="listeyeEkle" v-bind:disabled="yeni.length == 0 ? true :false">
        </form>

        <div v-if= "liste.length > 0">
            <h3>Alış-veriş Listesi - {{liste.length}}</h3>
            <ul>
                <li v-for="i in liste">
                    <input type="checkbox" v-bind:checked="i.completed" v-on:click="alList(i)"> {{i.name}}
                </li>
            </ul>
        </div>

        <div v-if="alinanlarListesi.length >0">
            <h3>Alınanlar</h3>
            <ul>
                <li v-for="i in alinanlarListesi">{{i.name}}</li>
            </ul>
        </div>

    </div>

    <script>
        var app = new Vue({

            el: '#app',
            data: {
                yeni: "",
                liste: [],
            },
            methods: {
                listeyeEkle(e) {
                    e.preventDefault();
                    this.liste.push({
                        name: this.yeni,
                        completed: false

                    });
                    this.yeni = "";
                },

                alList(i) {
                    i.completed = !i.completed;
                }
            },

            computed: { alinanlarListesi () {
                return this.liste.filter( i => {
                    return i.completed;
                })
            }
            }
        })



    </script>
</body>

</html>